openapi: 3.0.3
info:
  title: Digital Twin Registry API
  description: |-
    Combined API for Asset Administration Shell Registry Service and
    Asset Administration Shell Basic Discovery Service.

    Edc-Bpn header: Optional header used in the query language for access control
    and filtering. If the end user can change this header, the access control is
    not secure because it is not derived from the token.

    Digital Twin Registry custom additions (beyond IDTA base profile):

    - POST /shell-descriptors and PUT /shell-descriptors/{aasIdentifier} also append a
      discovery link from globalAssetId (stored as specific asset id name "globalAssetId")
      when globalAssetId is present in the descriptor.
    - PUT /shell-descriptors/{aasIdentifier} and PUT
      /shell-descriptors/{aasIdentifier}/submodel-descriptors/{submodelIdentifier} use
      path identifiers as source of truth (path id wins over request body id).
    - SubmodelDescriptor input uses "supplementalSemanticIds" (plural) by default.
      Singular "supplementalSemanticId" compatibility can be enabled via
      general.supportsSingularSupplementalSemanticId (env:
      GENERAL_SUPPORTSSINGULARSUPPLEMENTALSEMANTICID).
    - POST /lookup/shellsByAssetLink supports createdAfter (RFC3339). Invalid values
      return HTTP 400.
    - For DTR compatibility, empty-asset-link requests on /lookup/shellsByAssetLink and
      /lookup/shells may return {}.
    - POST /lookup/shells/{aasIdentifier} always appends provided links (no replace, no
      deduplication; duplicates may occur) and returns 404 when the addressed shell does
      not exist.

    Copyright: Industrial Digital Twin Association (IDTA) 2025
  contact:
    name: Industrial Digital Twin Association (IDTA)
    email: info@idtwin.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: V3.1.1_SSP-001
servers:
- url: 'https://admin-shell.io/api/v3/'
- url: 'https://example.com/'

components:
  parameters:
    aasIdentifier:
      name: aasIdentifier
      in: path
      required: true
      description: Identifier of the Asset Administration Shell.
      schema:
        type: string
    submodelIdentifier:
      name: submodelIdentifier
      in: path
      required: true
      description: Identifier of the Submodel.
      schema:
        type: string
    EdcBpnHeader:
      name: Edc-Bpn
      in: header
      required: false
      description: >-
        Optional header used in the query language for access control and filtering.
        If the end user can change this header, the access control is not secure
        because it is not derived from the token.
      schema:
        type: string

paths:
  /description:
    get:
      tags:
        - Description API
      summary: Returns the self-describing information of a network resource (ServiceDescription)
      operationId: GetDescription
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
      responses:
        '200':
          description: The service description
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/ServiceDescription'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  # ---- AAS Registry Service ----
  /shell-descriptors:
    get:
      tags:
        - Asset Administration Shell Registry API
      summary: Returns all Asset Administration Shell Descriptors
      operationId: GetAllAssetAdministrationShellDescriptors
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellDescriptors/3/1
        - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellDescriptorsByAssetType/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetKind'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetType'
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptors
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/GetAssetAdministrationShellDescriptorsResult'
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        '403':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden'
        '500':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    post:
      tags:
        - Asset Administration Shell Registry API
      summary: Creates a new Asset Administration Shell Descriptor, i.e. registers an AAS
      description: >-
        DTR extension: if globalAssetId is present in the descriptor, the service also
        appends a discovery entry as specific asset id (name "globalAssetId") for the
        same shell identifier.
      operationId: PostAssetAdministrationShellDescriptor
      x-semanticIds:
        - https://admin-shell.io/aas/API/PostAssetAdministrationShellDescriptor/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
      requestBody:
        description: Asset Administration Shell Descriptor object
        content:
          application/json:
            schema:
              $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor'
        required: true
      responses:
        '201':
          description: Asset Administration Shell Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor'
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        '403':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden'
        '409':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /shell-descriptors/{aasIdentifier}:
    get:
      tags:
        - Asset Administration Shell Registry API
      summary: Returns a specific Asset Administration Shell Descriptor
      operationId: GetAssetAdministrationShellDescriptorById
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAssetAdministrationShellDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptor
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor'
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        '403':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden'
        '404':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found'
        '500':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    put:
      tags:
        - Asset Administration Shell Registry API
      summary: Creates or updates an existing Asset Administration Shell Descriptor
      description: |-
        DTR extension:

        - Path identifier is authoritative and overwrites descriptor.id from request body.
        - If globalAssetId is present, the service additionally appends a discovery entry
          as specific asset id (name "globalAssetId") for the shell.
      operationId: PutAssetAdministrationShellDescriptorById
      x-semanticIds:
        - https://admin-shell.io/aas/API/PutAssetAdministrationShellDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: Asset Administration Shell Descriptor object
        content:
          application/json:
            schema:
              $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor'
        required: true
      responses:
        '204':
          description: Asset Administration Shell Descriptor updated successfully
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        '403':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden'
        '404':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found'
        '409':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    delete:
      tags:
        - Asset Administration Shell Registry API
      summary: Deletes an Asset Administration Shell Descriptor, i.e. de-registers an AAS
      operationId: DeleteAssetAdministrationShellDescriptorById
      x-semanticIds:
        - https://admin-shell.io/aas/API/DeleteAssetAdministrationShellDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '204':
          description: Asset Administration Shell Descriptor deleted successfully
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        '403':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden'
        '404':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /shell-descriptors/{aasIdentifier}/submodel-descriptors:
    get:
      tags:
        - Asset Administration Shell Registry API
      summary: Returns all Submodel Descriptors
      operationId: GetAllSubmodelDescriptorsThroughSuperpath
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAllSubmodelDescriptors/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor'
      responses:
        '200':
          description: Requested Submodel Descriptors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    post:
      tags:
        - Asset Administration Shell Registry API
      summary: Creates a new Submodel Descriptor, i.e. registers a submodel
      operationId: PostSubmodelDescriptorThroughSuperpath
      x-semanticIds:
        - https://admin-shell.io/aas/API/PostSubmodelDescriptor/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor'
        required: true
      responses:
        '201':
          description: Submodel Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /shell-descriptors/{aasIdentifier}/submodel-descriptors/{submodelIdentifier}:
    get:
      tags:
        - Asset Administration Shell Registry API
      summary: Returns a specific Submodel Descriptor
      operationId: GetSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetSubmodelDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
        - $ref: '#/components/parameters/submodelIdentifier'
      responses:
        '200':
          description: Requested Submodel Descriptor
          content:
            application/json:
              schema:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    put:
      tags:
        - Asset Administration Shell Registry API
      summary: Creates or updates an existing Submodel Descriptor
      description: >-
        DTR extension: path identifier is authoritative and overwrites
        submodelDescriptor.id from request body.
      operationId: PutSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
        - https://admin-shell.io/aas/API/PutSubmodelDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
        - $ref: '#/components/parameters/submodelIdentifier'
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor'
        required: true
      responses:
        '204':
          description: Submodel Descriptor updated successfully
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    delete:
      tags:
        - Asset Administration Shell Registry API
      summary: Deletes a Submodel Descriptor
      operationId: DeleteSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
        - https://admin-shell.io/aas/API/DeleteSubmodelDescriptorById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
        - $ref: '#/components/parameters/submodelIdentifier'
      responses:
        '204':
          description: Submodel Descriptor deleted successfully
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /query/shell-descriptors:
    post:
      tags:
        - Asset Administration Shell Registry API
      summary: Queries Asset Administration Shell Descriptors
      operationId: QueryAssetAdministrationShellDescriptors
      x-semanticIds:
        - https://admin-shell.io/aas/API/QueryAssetAdministrationShellDescriptors/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor'
      requestBody:
        description: Query statement
        content:
          application/json:
            schema:
              $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/Query'
        required: true
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  # ---- Discovery Service ----
  /lookup/shells:
    get:
      deprecated: true
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Returns a list of Asset Administration Shell IDs linked to specific asset identifiers or the global asset ID
      description: >-
        DTR compatibility note: when no decodable assetIds are provided, the response may
        be {} (empty object).
      operationId: GetAllAssetAdministrationShellIdsByAssetLink
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellIdsByAssetLink/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetIds'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor'
      responses:
        '200':
          description: Requested Asset Administration Shell IDs
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult'
                      - type: object
                        properties:
                          result:
                            type: array
                            items:
                              type: string
                  - type: object
                    description: DTR compatibility response for empty assetIds input.
                    additionalProperties: false
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /lookup/shellsByAssetLink:
    post:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Returns a list of Asset Administration Shell IDs linked to specific asset identifiers or the global asset ID
      description: |-
        DTR extension:

        - Supports createdAfter query parameter (RFC3339) to apply additional filtering.
        - For compatibility, when the request body contains no asset links the response
          may be {} (empty object).
      operationId: SearchAllAssetAdministrationShellIdsByAssetLink
      x-semanticIds:
        - https://admin-shell.io/aas/API/SearchAllAssetAdministrationShellIdsByAssetLink/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit'
        - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor'
        - name: createdAfter
          in: query
          description: >-
            DTR extension: filter results by creation timestamp (RFC3339).
            Invalid values return HTTP 400.
          required: false
          schema:
            type: string
            format: date-time
      requestBody:
        description: A list of specific asset identifiers. Search for the global asset ID is supported by setting "name"  to "globalAssetId" (see Constraint AASd-116).
        content:
          application/json:
            schema:
              type: array
              items:
                '$ref': 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetLink'
      responses:
        '200':
          description: Requested Asset Administration Shell IDs
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult'
                      - type: object
                        properties:
                          result:
                            type: array
                            items:
                              type: string
                  - type: object
                    description: DTR compatibility response for empty assetLinks input.
                    additionalProperties: false
        '400':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'

  /lookup/shells/{aasIdentifier}:
    get:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Returns a list of specific asset identifiers based on an Asset Administration Shell ID to edit discoverable content.
      operationId: GetAllAssetLinksById
      x-semanticIds:
        - https://admin-shell.io/aas/API/GetAllAssetLinksById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '200':
          description: Requested Asset Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    post:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Creates or merges asset links associated to the Asset Administration Shell.
      description: |-
        DTR extension:

        - Never replaces existing links; always appends provided links.
        - No deduplication is applied; duplicate links can be created.
        - Returns 404 if the addressed shell does not exist.
      operationId: PostAllAssetLinksById
      x-semanticIds:
        - https://admin-shell.io/aas/API/PostAllAssetLinksById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: A list of specific asset identifiers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId'
        required: true
      responses:
        '201':
          description: Asset Links created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId'
        '404':
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found'
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
    delete:
      tags:
        - Asset Administration Shell Basic Discovery API
      summary: Deletes specified specific asset identifiers linked to an Asset Administration Shell
      operationId: DeleteAllAssetLinksById
      x-semanticIds:
        - https://admin-shell.io/aas/API/DeleteAllAssetLinksById/3/1
      parameters:
        - $ref: '#/components/parameters/EdcBpnHeader'
        - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '204':
          description: Asset Links deleted successfully
        default:
          $ref: 'https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default'
