openapi: 3.0.3
info:
  title: AAS Environment Service API
  description: Combined API for Asset Administration Shell Registry, Submodel Registry,
    Asset Administration Shell Repository, Submodel Repository, Concept Description
    Repository and Discovery Service.
  contact:
    name: Industrial Digital Twin Association (IDTA)
    email: info@idtwin.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: V3.1.1_SSP-001
servers:
- url: https://admin-shell.io/api/v3/
- url: https://example.com/
components:
  parameters:
    aasIdentifier:
      name: aasIdentifier
      in: path
      required: true
      description: Identifier of the Asset Administration Shell.
      schema:
        type: string
    submodelIdentifier:
      name: submodelIdentifier
      in: path
      required: true
      description: Identifier of the Submodel.
      schema:
        type: string
    EdcBpnHeader:
      name: Edc-Bpn
      in: header
      required: false
      description: Optional header used in the query language for access control and
        filtering. If the end user can change this header, the access control is not
        secure because it is not derived from the token.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: The maximum number of elements in the response array
      required: false
      schema:
        minimum: 1
        type: integer
    Cursor:
      name: cursor
      in: query
      description: A server-generated identifier retrieved from pagingMetadata that
        specifies from which position the result listing should continue
      required: false
      schema:
        type: string
  schemas:
    GetConceptDescriptionsResult:
      allOf:
      - $ref: '#/components/schemas/PagedResult'
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/ConceptDescription'
    PagedResult:
      required:
      - paging_metadata
      type: object
      properties:
        paging_metadata:
          $ref: '#/components/schemas/PagedResult_paging_metadata'
    ConceptDescription:
      allOf:
      - $ref: '#/components/schemas/Identifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
      - properties:
          isCaseOf:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/Reference'
          modelType:
            pattern: ^ConceptDescription$
    Identifiable:
      allOf:
      - $ref: '#/components/schemas/Referable'
      - required:
        - id
        properties:
          administration:
            $ref: '#/components/schemas/AdministrativeInformation'
          id:
            maxLength: 2048
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
    Referable:
      allOf:
      - $ref: '#/components/schemas/HasExtensions'
      - required:
        - modelType
        properties:
          category:
            maxLength: 128
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          idShort:
            type: string
            allOf:
            - maxLength: 128
              minLength: 1
            - pattern: ^[a-zA-Z][a-zA-Z0-9_-]*[a-zA-Z0-9_]+$
          displayName:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringNameType'
          description:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringTextType'
          modelType:
            $ref: '#/components/schemas/ModelType'
    HasExtensions:
      type: object
      properties:
        extensions:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Extension'
    Extension:
      allOf:
      - $ref: '#/components/schemas/HasSemantics'
      - required:
        - name
        properties:
          name:
            maxLength: 128
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          valueType:
            $ref: '#/components/schemas/DataTypeDefXsd'
          value:
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          refersTo:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/Reference'
    HasSemantics:
      type: object
      properties:
        semanticId:
          $ref: '#/components/schemas/Reference'
        supplementalSemanticIds:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Reference'
    Reference:
      allOf:
      - $ref: '#/components/schemas/ReferenceParent'
      - properties:
          referredSemanticId:
            $ref: '#/components/schemas/ReferenceParent'
    ReferenceParent:
      required:
      - keys
      - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ReferenceTypes'
        keys:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Key'
    ReferenceTypes:
      type: string
      enum:
      - ExternalReference
      - ModelReference
    Key:
      required:
      - type
      - value
      type: object
      properties:
        type:
          $ref: '#/components/schemas/KeyTypes'
        value:
          maxLength: 2048
          minLength: 1
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          type: string
    KeyTypes:
      type: string
      enum:
      - AnnotatedRelationshipElement
      - AssetAdministrationShell
      - BasicEventElement
      - Blob
      - Capability
      - ConceptDescription
      - DataElement
      - Entity
      - EventElement
      - File
      - FragmentReference
      - GlobalReference
      - Identifiable
      - MultiLanguageProperty
      - Operation
      - Property
      - Range
      - Referable
      - ReferenceElement
      - RelationshipElement
      - Submodel
      - SubmodelElement
      - SubmodelElementCollection
      - SubmodelElementList
    DataTypeDefXsd:
      type: string
      enum:
      - xs:anyURI
      - xs:base64Binary
      - xs:boolean
      - xs:byte
      - xs:date
      - xs:dateTime
      - xs:decimal
      - xs:double
      - xs:duration
      - xs:float
      - xs:gDay
      - xs:gMonth
      - xs:gMonthDay
      - xs:gYear
      - xs:gYearMonth
      - xs:hexBinary
      - xs:int
      - xs:integer
      - xs:long
      - xs:negativeInteger
      - xs:nonNegativeInteger
      - xs:nonPositiveInteger
      - xs:positiveInteger
      - xs:short
      - xs:string
      - xs:time
      - xs:unsignedByte
      - xs:unsignedInt
      - xs:unsignedLong
      - xs:unsignedShort
    LangStringNameType:
      allOf:
      - $ref: '#/components/schemas/AbstractLangString'
      - properties:
          text:
            maxLength: 128
    AbstractLangString:
      required:
      - language
      - text
      type: object
      properties:
        language:
          pattern: ^(([a-zA-Z]{2,3}(-[a-zA-Z]{3}(-[a-zA-Z]{3}){0,2})?|[a-zA-Z]{4}|[a-zA-Z]{5,8})(-[a-zA-Z]{4})?(-([a-zA-Z]{2}|[0-9]{3}))?(-(([a-zA-Z0-9]){5,8}|[0-9]([a-zA-Z0-9]){3}))*(-[0-9A-WY-Za-wy-z](-([a-zA-Z0-9]){2,8})+)*(-[xX](-([a-zA-Z0-9]){1,8})+)?|[xX](-([a-zA-Z0-9]){1,8})+|((en-GB-oed|i-ami|i-bnn|i-default|i-enochian|i-hak|i-klingon|i-lux|i-mingo|i-navajo|i-pwn|i-tao|i-tay|i-tsu|sgn-BE-FR|sgn-BE-NL|sgn-CH-DE)|(art-lojban|cel-gaulish|no-bok|no-nyn|zh-guoyu|zh-hakka|zh-min|zh-min-nan|zh-xiang)))$
          type: string
        text:
          minLength: 1
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          type: string
    LangStringTextType:
      allOf:
      - $ref: '#/components/schemas/AbstractLangString'
      - properties:
          text:
            maxLength: 1023
    ModelType:
      type: string
      enum:
      - AnnotatedRelationshipElement
      - AssetAdministrationShell
      - BasicEventElement
      - Blob
      - Capability
      - ConceptDescription
      - DataSpecificationIec61360
      - Entity
      - File
      - MultiLanguageProperty
      - Operation
      - Property
      - Range
      - ReferenceElement
      - RelationshipElement
      - Submodel
      - SubmodelElementCollection
      - SubmodelElementList
    AdministrativeInformation:
      allOf:
      - $ref: '#/components/schemas/HasDataSpecification'
      - properties:
          version:
            type: string
            allOf:
            - maxLength: 4
              minLength: 1
            - pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            - pattern: ^(0|[1-9][0-9]*)$
          revision:
            type: string
            allOf:
            - maxLength: 4
              minLength: 1
            - pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            - pattern: ^(0|[1-9][0-9]*)$
          creator:
            $ref: '#/components/schemas/Reference'
          templateId:
            maxLength: 2048
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
    HasDataSpecification:
      type: object
      properties:
        embeddedDataSpecifications:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/EmbeddedDataSpecification'
    EmbeddedDataSpecification:
      required:
      - dataSpecification
      - dataSpecificationContent
      type: object
      properties:
        dataSpecificationContent:
          $ref: '#/components/schemas/DataSpecificationContent_choice'
        dataSpecification:
          $ref: '#/components/schemas/Reference'
    DataSpecificationContent_choice:
      oneOf:
      - $ref: '#/components/schemas/DataSpecificationIec61360'
    DataSpecificationIec61360:
      allOf:
      - $ref: '#/components/schemas/DataSpecificationContent'
      - required:
        - preferredName
        properties:
          preferredName:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringPreferredNameTypeIec61360'
          shortName:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringShortNameTypeIec61360'
          unit:
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          unitId:
            $ref: '#/components/schemas/Reference'
          sourceOfDefinition:
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          symbol:
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          dataType:
            $ref: '#/components/schemas/DataTypeIec61360'
          definition:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringDefinitionTypeIec61360'
          valueFormat:
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          valueList:
            $ref: '#/components/schemas/ValueList'
          value:
            maxLength: 2048
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          levelType:
            $ref: '#/components/schemas/LevelType'
          modelType:
            pattern: ^DataSpecificationIec61360$
    DataSpecificationContent:
      required:
      - modelType
      type: object
      properties:
        modelType:
          $ref: '#/components/schemas/ModelType'
    LangStringPreferredNameTypeIec61360:
      allOf:
      - $ref: '#/components/schemas/AbstractLangString'
      - properties:
          text:
            maxLength: 255
    LangStringShortNameTypeIec61360:
      allOf:
      - $ref: '#/components/schemas/AbstractLangString'
      - properties:
          text:
            maxLength: 18
    DataTypeIec61360:
      type: string
      enum:
      - BLOB
      - BOOLEAN
      - DATE
      - FILE
      - HTML
      - INTEGER_COUNT
      - INTEGER_CURRENCY
      - INTEGER_MEASURE
      - IRDI
      - IRI
      - RATIONAL
      - RATIONAL_MEASURE
      - REAL_COUNT
      - REAL_CURRENCY
      - REAL_MEASURE
      - STRING
      - STRING_TRANSLATABLE
      - TIME
      - TIMESTAMP
    LangStringDefinitionTypeIec61360:
      allOf:
      - $ref: '#/components/schemas/AbstractLangString'
      - properties:
          text:
            maxLength: 1023
    ValueList:
      required:
      - valueReferencePairs
      type: object
      properties:
        valueReferencePairs:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ValueReferencePair'
    ValueReferencePair:
      required:
      - value
      type: object
      properties:
        value:
          maxLength: 2048
          minLength: 1
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          type: string
        valueId:
          $ref: '#/components/schemas/Reference'
    LevelType:
      required:
      - max
      - min
      - nom
      - typ
      type: object
      properties:
        min:
          type: boolean
        nom:
          type: boolean
        typ:
          type: boolean
        max:
          type: boolean
    Result:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
    Message:
      type: object
      properties:
        code:
          maxLength: 32
          minLength: 1
          type: string
        correlationId:
          maxLength: 128
          minLength: 1
          type: string
        messageType:
          type: string
          enum:
          - Undefined
          - Info
          - Warning
          - Error
          - Exception
        text:
          type: string
        timestamp:
          pattern: ^-?(([1-9][0-9][0-9][0-9]+)|(0[0-9][0-9][0-9]))-((0[1-9])|(1[0-2]))-((0[1-9])|([12][0-9])|(3[01]))T(((([01][0-9])|(2[0-3])):[0-5][0-9]:([0-5][0-9])(\.[0-9]+)?)|24:00:00(\.0+)?)(Z|\+00:00|-00:00)$
          type: string
    Environment:
      type: object
      properties:
        assetAdministrationShells:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/AssetAdministrationShell'
        submodels:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Submodel'
        conceptDescriptions:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ConceptDescription'
    AssetAdministrationShell:
      allOf:
      - $ref: '#/components/schemas/Identifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
      - required:
        - assetInformation
        properties:
          derivedFrom:
            $ref: '#/components/schemas/Reference'
          assetInformation:
            $ref: '#/components/schemas/AssetInformation'
          submodels:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/Reference'
          modelType:
            pattern: ^AssetAdministrationShell$
    AssetInformation:
      required:
      - assetKind
      type: object
      properties:
        assetKind:
          $ref: '#/components/schemas/AssetKind'
        globalAssetId:
          maxLength: 2048
          minLength: 1
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          type: string
        specificAssetIds:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SpecificAssetId'
        assetType:
          maxLength: 2048
          minLength: 1
          pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
          type: string
        defaultThumbnail:
          $ref: '#/components/schemas/Resource'
    AssetKind:
      type: string
      enum:
      - Instance
      - NotApplicable
      - Role
      - Type
    SpecificAssetId:
      allOf:
      - $ref: '#/components/schemas/HasSemantics'
      - required:
        - name
        - value
        properties:
          name:
            maxLength: 64
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          value:
            maxLength: 2048
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          externalSubjectId:
            $ref: '#/components/schemas/Reference'
    Resource:
      required:
      - path
      type: object
      properties:
        path:
          type: string
          allOf:
          - maxLength: 2048
            minLength: 1
          - pattern: ^([a-zA-Z][a-zA-Z0-9+\-.]*:((//((((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;:&=+$,])*@)?((([a-zA-Z0-9]|[a-zA-Z0-9]([a-zA-Z0-9]|-)*[a-zA-Z0-9])\.)*([a-zA-Z]|[a-zA-Z]([a-zA-Z0-9]|-)*[a-zA-Z0-9])(\.)?|[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(:[0-9]*)?)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[$,;:@&=+])+)(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?|/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)(\?(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;?:@&=+$,])(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)|(//((((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;:&=+$,])*@)?((([a-zA-Z0-9]|[a-zA-Z0-9]([a-zA-Z0-9]|-)*[a-zA-Z0-9])\.)*([a-zA-Z]|[a-zA-Z]([a-zA-Z0-9]|-)*[a-zA-Z0-9])(\.)?|[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(:[0-9]*)?)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[$,;:@&=+])+)(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?|/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;@&=+$,])+(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?)(\?(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?)?(#(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?$
        contentType:
          type: string
          allOf:
          - maxLength: 128
            minLength: 1
          - pattern: ^([!#$%&'*+\-.^_`|~0-9a-zA-Z])+/([!#$%&'*+\-.^_`|~0-9a-zA-Z])+([
              \t]*;[ \t]*([!#$%&'*+\-.^_`|~0-9a-zA-Z])+=(([!#$%&'*+\-.^_`|~0-9a-zA-Z])+|"(([\t
              !#-\[\]-~]|[\x80-\xff])|\\([\t !-~]|[\x80-\xff]))*"))*$
    Submodel:
      allOf:
      - $ref: '#/components/schemas/Identifiable'
      - $ref: '#/components/schemas/HasKind'
      - $ref: '#/components/schemas/HasSemantics'
      - $ref: '#/components/schemas/Qualifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
      - properties:
          submodelElements:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/SubmodelElement_choice'
          modelType:
            pattern: ^Submodel$
    HasKind:
      type: object
      properties:
        kind:
          $ref: '#/components/schemas/ModellingKind'
    ModellingKind:
      type: string
      enum:
      - Instance
      - Template
    Qualifiable:
      required:
      - modelType
      type: object
      properties:
        qualifiers:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Qualifier'
        modelType:
          $ref: '#/components/schemas/ModelType'
    Qualifier:
      allOf:
      - $ref: '#/components/schemas/HasSemantics'
      - required:
        - type
        - valueType
        properties:
          kind:
            $ref: '#/components/schemas/QualifierKind'
          type:
            maxLength: 128
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          valueType:
            $ref: '#/components/schemas/DataTypeDefXsd'
          value:
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          valueId:
            $ref: '#/components/schemas/Reference'
    QualifierKind:
      type: string
      enum:
      - ConceptQualifier
      - TemplateQualifier
      - ValueQualifier
    SubmodelElement_choice:
      oneOf:
      - $ref: '#/components/schemas/RelationshipElement'
      - $ref: '#/components/schemas/AnnotatedRelationshipElement'
      - $ref: '#/components/schemas/BasicEventElement'
      - $ref: '#/components/schemas/Blob'
      - $ref: '#/components/schemas/Capability'
      - $ref: '#/components/schemas/Entity'
      - $ref: '#/components/schemas/File'
      - $ref: '#/components/schemas/MultiLanguageProperty'
      - $ref: '#/components/schemas/Operation'
      - $ref: '#/components/schemas/Property'
      - $ref: '#/components/schemas/Range'
      - $ref: '#/components/schemas/ReferenceElement'
      - $ref: '#/components/schemas/SubmodelElementCollection'
      - $ref: '#/components/schemas/SubmodelElementList'
    RelationshipElement:
      allOf:
      - $ref: '#/components/schemas/RelationshipElement_abstract'
      - properties:
          modelType:
            pattern: ^RelationshipElement$
    RelationshipElement_abstract:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - properties:
          first:
            $ref: '#/components/schemas/Reference'
          second:
            $ref: '#/components/schemas/Reference'
    SubmodelElement:
      allOf:
      - $ref: '#/components/schemas/Referable'
      - $ref: '#/components/schemas/HasSemantics'
      - $ref: '#/components/schemas/Qualifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
    AnnotatedRelationshipElement:
      allOf:
      - $ref: '#/components/schemas/RelationshipElement_abstract'
      - properties:
          annotations:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/DataElement_choice'
          modelType:
            pattern: ^AnnotatedRelationshipElement$
    DataElement_choice:
      oneOf:
      - $ref: '#/components/schemas/Blob'
      - $ref: '#/components/schemas/File'
      - $ref: '#/components/schemas/MultiLanguageProperty'
      - $ref: '#/components/schemas/Property'
      - $ref: '#/components/schemas/Range'
      - $ref: '#/components/schemas/ReferenceElement'
    Blob:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - properties:
          value:
            type: string
            format: byte
          contentType:
            type: string
            allOf:
            - maxLength: 128
              minLength: 1
            - pattern: ^([!#$%&'*+\-.^_`|~0-9a-zA-Z])+/([!#$%&'*+\-.^_`|~0-9a-zA-Z])+([
                \t]*;[ \t]*([!#$%&'*+\-.^_`|~0-9a-zA-Z])+=(([!#$%&'*+\-.^_`|~0-9a-zA-Z])+|"(([\t
                !#-\[\]-~]|[\x80-\xff])|\\([\t !-~]|[\x80-\xff]))*"))*$
          modelType:
            pattern: ^Blob$
    DataElement:
      allOf:
      - $ref: '#/components/schemas/Referable'
      - $ref: '#/components/schemas/HasSemantics'
      - $ref: '#/components/schemas/Qualifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
    File:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - properties:
          value:
            type: string
            allOf:
            - maxLength: 2048
              minLength: 1
            - pattern: ^([a-zA-Z][a-zA-Z0-9+\-.]*:((//((((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;:&=+$,])*@)?((([a-zA-Z0-9]|[a-zA-Z0-9]([a-zA-Z0-9]|-)*[a-zA-Z0-9])\.)*([a-zA-Z]|[a-zA-Z]([a-zA-Z0-9]|-)*[a-zA-Z0-9])(\.)?|[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(:[0-9]*)?)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[$,;:@&=+])+)(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?|/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)(\?(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;?:@&=+$,])(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)|(//((((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;:&=+$,])*@)?((([a-zA-Z0-9]|[a-zA-Z0-9]([a-zA-Z0-9]|-)*[a-zA-Z0-9])\.)*([a-zA-Z]|[a-zA-Z]([a-zA-Z0-9]|-)*[a-zA-Z0-9])(\.)?|[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(:[0-9]*)?)?|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[$,;:@&=+])+)(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?|/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*|(([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[;@&=+$,])+(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*(/((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*(;((([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])|[:@&=+$,]))*)*)*)?)(\?(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?)?(#(([;/?:@&=+$,]|([a-zA-Z0-9]|[-_.!~*'()])|%([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])([0-9]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF]|[aA]|[bB]|[cC]|[dD]|[eE]|[fF])))*)?$
          contentType:
            type: string
            allOf:
            - maxLength: 128
              minLength: 1
            - pattern: ^([!#$%&'*+\-.^_`|~0-9a-zA-Z])+/([!#$%&'*+\-.^_`|~0-9a-zA-Z])+([
                \t]*;[ \t]*([!#$%&'*+\-.^_`|~0-9a-zA-Z])+=(([!#$%&'*+\-.^_`|~0-9a-zA-Z])+|"(([\t
                !#-\[\]-~]|[\x80-\xff])|\\([\t !-~]|[\x80-\xff]))*"))*$
          modelType:
            pattern: ^File$
    MultiLanguageProperty:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - properties:
          value:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/LangStringTextType'
          valueId:
            $ref: '#/components/schemas/Reference'
          modelType:
            pattern: ^MultiLanguageProperty$
    Property:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - required:
        - valueType
        properties:
          valueType:
            $ref: '#/components/schemas/DataTypeDefXsd'
          value:
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          valueId:
            $ref: '#/components/schemas/Reference'
          modelType:
            pattern: ^Property$
    Range:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - required:
        - valueType
        properties:
          valueType:
            $ref: '#/components/schemas/DataTypeDefXsd'
          min:
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          max:
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          modelType:
            pattern: ^Range$
    ReferenceElement:
      allOf:
      - $ref: '#/components/schemas/DataElement'
      - properties:
          value:
            $ref: '#/components/schemas/Reference'
          modelType:
            pattern: ^ReferenceElement$
    BasicEventElement:
      allOf:
      - $ref: '#/components/schemas/EventElement'
      - required:
        - direction
        - observed
        - state
        properties:
          observed:
            $ref: '#/components/schemas/Reference'
          direction:
            $ref: '#/components/schemas/Direction'
          state:
            $ref: '#/components/schemas/StateOfEvent'
          messageTopic:
            maxLength: 255
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          messageBroker:
            $ref: '#/components/schemas/Reference'
          lastUpdate:
            pattern: ^-?(([1-9][0-9][0-9][0-9]+)|(0[0-9][0-9][0-9]))-((0[1-9])|(1[0-2]))-((0[1-9])|([12][0-9])|(3[01]))T(((([01][0-9])|(2[0-3])):[0-5][0-9]:([0-5][0-9])(\.[0-9]+)?)|24:00:00(\.0+)?)(Z|\+00:00|-00:00)$
            type: string
          minInterval:
            pattern: ^-?P((([0-9]+Y([0-9]+M)?([0-9]+D)?|([0-9]+M)([0-9]+D)?|([0-9]+D))(T(([0-9]+H)([0-9]+M)?([0-9]+(\.[0-9]+)?S)?|([0-9]+M)([0-9]+(\.[0-9]+)?S)?|([0-9]+(\.[0-9]+)?S)))?)|(T(([0-9]+H)([0-9]+M)?([0-9]+(\.[0-9]+)?S)?|([0-9]+M)([0-9]+(\.[0-9]+)?S)?|([0-9]+(\.[0-9]+)?S))))$
            type: string
          maxInterval:
            pattern: ^-?P((([0-9]+Y([0-9]+M)?([0-9]+D)?|([0-9]+M)([0-9]+D)?|([0-9]+D))(T(([0-9]+H)([0-9]+M)?([0-9]+(\.[0-9]+)?S)?|([0-9]+M)([0-9]+(\.[0-9]+)?S)?|([0-9]+(\.[0-9]+)?S)))?)|(T(([0-9]+H)([0-9]+M)?([0-9]+(\.[0-9]+)?S)?|([0-9]+M)([0-9]+(\.[0-9]+)?S)?|([0-9]+(\.[0-9]+)?S))))$
            type: string
          modelType:
            pattern: ^BasicEventElement$
    EventElement:
      allOf:
      - $ref: '#/components/schemas/Referable'
      - $ref: '#/components/schemas/HasSemantics'
      - $ref: '#/components/schemas/Qualifiable'
      - $ref: '#/components/schemas/HasDataSpecification'
    Direction:
      type: string
      enum:
      - input
      - output
    StateOfEvent:
      type: string
      enum:
      - 'off'
      - 'on'
    Capability:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - properties:
          modelType:
            pattern: ^Capability$
    Entity:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - properties:
          statements:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/SubmodelElement_choice'
          entityType:
            $ref: '#/components/schemas/EntityType'
          globalAssetId:
            maxLength: 2048
            minLength: 1
            pattern: ^([\x09\x0a\x0d\x20-\ud7ff\ue000-\ufffd]|\ud800[\udc00-\udfff]|[\ud801-\udbfe][\udc00-\udfff]|\udbff[\udc00-\udfff])*$
            type: string
          specificAssetIds:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/SpecificAssetId'
          modelType:
            pattern: ^Entity$
    EntityType:
      type: string
      enum:
      - CoManagedEntity
      - SelfManagedEntity
    Operation:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - properties:
          inputVariables:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/OperationVariable'
          outputVariables:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/OperationVariable'
          inoutputVariables:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/OperationVariable'
          modelType:
            pattern: ^Operation$
    OperationVariable:
      required:
      - value
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SubmodelElement_choice'
    SubmodelElementCollection:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - properties:
          value:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/SubmodelElement_choice'
          modelType:
            pattern: ^SubmodelElementCollection$
    SubmodelElementList:
      allOf:
      - $ref: '#/components/schemas/SubmodelElement'
      - required:
        - typeValueListElement
        properties:
          orderRelevant:
            type: boolean
          semanticIdListElement:
            $ref: '#/components/schemas/Reference'
          typeValueListElement:
            $ref: '#/components/schemas/AasSubmodelElements'
          valueTypeListElement:
            $ref: '#/components/schemas/DataTypeDefXsd'
          value:
            minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/SubmodelElement_choice'
          modelType:
            pattern: ^SubmodelElementList$
    AasSubmodelElements:
      type: string
      enum:
      - AnnotatedRelationshipElement
      - BasicEventElement
      - Blob
      - Capability
      - DataElement
      - Entity
      - EventElement
      - File
      - MultiLanguageProperty
      - Operation
      - Property
      - Range
      - ReferenceElement
      - RelationshipElement
      - SubmodelElement
      - SubmodelElementCollection
      - SubmodelElementList
    ServiceDescription:
      type: object
      properties:
        profiles:
          minItems: 1
          type: array
          items:
            type: string
            example: '["https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/SubmodelServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/AasxFileServerServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AasxFileServerServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-004","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-005","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-004","https://admin-shell.io/aas/API/3/1/DiscoveryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/DiscoveryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/DiscoveryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-002","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-003","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-004","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-004","https://admin-shell.io/aas/API/3/1/SubmodelRepositoryServiceSpecification/SSP-005","https://admin-shell.io/aas/API/3/1/ConceptDescriptionRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/ConceptDescriptionRepositoryServiceSpecification/SSP-001","https://admin-shell.io/aas/API/3/1/ConceptDescriptionRepositoryServiceSpecification/SSP-002"]'
      description: The Description object enables servers to present their capabilities
        to the clients, in particular which profiles they implement. At least one
        defined profile is required. Additional, proprietary attributes might be included.
        Nevertheless, the server must not expect that a regular client understands
        them.
      example: "{\n  \"profiles\": [\n    \"https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRegistryServiceSpecification/SSP-002\"\
        ,\n    \"https://admin-shell.io/aas/API/3/1/SubmodelRegistryServiceSpecification/SSP-002\"\
        \n  ]\n}"
    PagedResult_paging_metadata:
      type: object
      properties:
        cursor:
          type: string
          example: wJlCDLIl6KTWypN7T6vc6nWEmEYe99Hjf1XY1xmqV-M=#
  responses:
    bad-request:
      description: Bad Request, e.g. the request parameters of the format of the request
        body is wrong.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    internal-server-error:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    default:
      description: Default error handling for unmentioned status codes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    conflict:
      description: Conflict, a resource which shall be created exists already. Might
        be thrown if an object with the same id (for Identifiables) or idShort (for
        Referables within the same Container Element or Submodel) is contained in
        a POST request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    not-found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
paths:
  /description:
    get:
      tags:
      - Description API
      summary: Returns combined service profile metadata
      operationId: GetDescription
      responses:
        '200':
          description: The combined service description
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/ServiceDescription
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shell-descriptors:
    get:
      tags:
      - Asset Administration Shell Registry API
      summary: Returns all Asset Administration Shell Descriptors
      operationId: GetAllAssetAdministrationShellDescriptors
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellDescriptors/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellDescriptorsByAssetType/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetKind
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetType
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptors
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/GetAssetAdministrationShellDescriptorsResult
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    post:
      tags:
      - Asset Administration Shell Registry API
      summary: Creates a new Asset Administration Shell Descriptor, i.e. registers
        an AAS
      description: 'DTR extension: if globalAssetId is present in the descriptor,
        the service also appends a discovery entry as specific asset id (name "globalAssetId")
        for the same shell identifier.'
      operationId: PostAssetAdministrationShellDescriptor
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostAssetAdministrationShellDescriptor/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      requestBody:
        description: Asset Administration Shell Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor
        required: true
      responses:
        '201':
          description: Asset Administration Shell Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '409':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shell-descriptors/{aasIdentifier}:
    get:
      tags:
      - Asset Administration Shell Registry API
      summary: Returns a specific Asset Administration Shell Descriptor
      operationId: GetAssetAdministrationShellDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptor
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Asset Administration Shell Registry API
      summary: Creates or updates an existing Asset Administration Shell Descriptor
      description: "DTR extension:\n\n- Path identifier is authoritative and overwrites\
        \ descriptor.id from request body.\n- If globalAssetId is present, the service\
        \ additionally appends a discovery entry\n  as specific asset id (name \"\
        globalAssetId\") for the shell."
      operationId: PutAssetAdministrationShellDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetAdministrationShellDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: Asset Administration Shell Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor
        required: true
      responses:
        '204':
          description: Asset Administration Shell Descriptor updated successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '409':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    delete:
      tags:
      - Asset Administration Shell Registry API
      summary: Deletes an Asset Administration Shell Descriptor, i.e. de-registers
        an AAS
      operationId: DeleteAssetAdministrationShellDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteAssetAdministrationShellDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '204':
          description: Asset Administration Shell Descriptor deleted successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shell-descriptors/{aasIdentifier}/submodel-descriptors:
    get:
      tags:
      - Asset Administration Shell Registry API
      summary: Returns all Submodel Descriptors
      operationId: GetAllSubmodelDescriptorsThroughSuperpath
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelDescriptors/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      responses:
        '200':
          description: Requested Submodel Descriptors
          content:
            application/json:
              schema:
                allOf:
                - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult
                - type: object
                  properties:
                    result:
                      type: array
                      items:
                        $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    post:
      tags:
      - Asset Administration Shell Registry API
      summary: Creates a new Submodel Descriptor, i.e. registers a submodel
      operationId: PostSubmodelDescriptorThroughSuperpath
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelDescriptor/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        required: true
      responses:
        '201':
          description: Submodel Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shell-descriptors/{aasIdentifier}/submodel-descriptors/{submodelIdentifier}:
    get:
      tags:
      - Asset Administration Shell Registry API
      summary: Returns a specific Submodel Descriptor
      operationId: GetSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      - $ref: '#/components/parameters/submodelIdentifier'
      responses:
        '200':
          description: Requested Submodel Descriptor
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Asset Administration Shell Registry API
      summary: Creates or updates an existing Submodel Descriptor
      description: 'DTR extension: path identifier is authoritative and overwrites
        submodelDescriptor.id from request body.'
      operationId: PutSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      - $ref: '#/components/parameters/submodelIdentifier'
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        required: true
      responses:
        '204':
          description: Submodel Descriptor updated successfully
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    delete:
      tags:
      - Asset Administration Shell Registry API
      summary: Deletes a Submodel Descriptor
      operationId: DeleteSubmodelDescriptorByIdThroughSuperpath
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelDescriptorById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      - $ref: '#/components/parameters/submodelIdentifier'
      responses:
        '204':
          description: Submodel Descriptor deleted successfully
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /query/shell-descriptors:
    post:
      tags:
      - Asset Administration Shell Registry API
      summary: Queries Asset Administration Shell Descriptors
      operationId: QueryAssetAdministrationShellDescriptors
      x-semanticIds:
      - https://admin-shell.io/aas/API/QueryAssetAdministrationShellDescriptors/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      requestBody:
        description: Query statement
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/Query
        required: true
      responses:
        '200':
          description: Requested Asset Administration Shell Descriptors
          content:
            application/json:
              schema:
                allOf:
                - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult
                - type: object
                  properties:
                    result:
                      type: array
                      items:
                        $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetAdministrationShellDescriptor
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /lookup/shells:
    get:
      deprecated: true
      tags:
      - Asset Administration Shell Basic Discovery API
      summary: Returns a list of Asset Administration Shell IDs linked to specific
        asset identifiers or the global asset ID
      description: 'DTR compatibility note: when no decodable assetIds are provided,
        the response may be {} (empty object).'
      operationId: GetAllAssetAdministrationShellIdsByAssetLink
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellIdsByAssetLink/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetIds
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      responses:
        '200':
          description: Requested Asset Administration Shell IDs
          content:
            application/json:
              schema:
                oneOf:
                - allOf:
                  - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: string
                - type: object
                  description: DTR compatibility response for empty assetIds input.
                  additionalProperties: false
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /lookup/shellsByAssetLink:
    post:
      tags:
      - Asset Administration Shell Basic Discovery API
      summary: Returns a list of Asset Administration Shell IDs linked to specific
        asset identifiers or the global asset ID
      description: "DTR extension:\n\n- Supports createdAfter query parameter (RFC3339)\
        \ to apply additional filtering.\n- For compatibility, when the request body\
        \ contains no asset links the response\n  may be {} (empty object)."
      operationId: SearchAllAssetAdministrationShellIdsByAssetLink
      x-semanticIds:
      - https://admin-shell.io/aas/API/SearchAllAssetAdministrationShellIdsByAssetLink/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      - name: createdAfter
        in: query
        description: 'DTR extension: filter results by creation timestamp (RFC3339).
          Invalid values return HTTP 400.'
        required: false
        schema:
          type: string
          format: date-time
      requestBody:
        description: A list of specific asset identifiers. Search for the global asset
          ID is supported by setting "name"  to "globalAssetId" (see Constraint AASd-116).
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/AssetLink
      responses:
        '200':
          description: Requested Asset Administration Shell IDs
          content:
            application/json:
              schema:
                oneOf:
                - allOf:
                  - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/PagedResult
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: string
                - type: object
                  description: DTR compatibility response for empty assetLinks input.
                  additionalProperties: false
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /lookup/shells/{aasIdentifier}:
    get:
      tags:
      - Asset Administration Shell Basic Discovery API
      summary: Returns a list of specific asset identifiers based on an Asset Administration
        Shell ID to edit discoverable content.
      operationId: GetAllAssetLinksById
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetLinksById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '200':
          description: Requested Asset Links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    post:
      tags:
      - Asset Administration Shell Basic Discovery API
      summary: Creates or merges asset links associated to the Asset Administration
        Shell.
      description: 'DTR extension:


        - Never replaces existing links; always appends provided links.

        - No deduplication is applied; duplicate links can be created.

        - Returns 404 if the addressed shell does not exist.'
      operationId: PostAllAssetLinksById
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostAllAssetLinksById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      requestBody:
        description: A list of specific asset identifiers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId
        required: true
      responses:
        '201':
          description: Asset Links created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SpecificAssetId
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    delete:
      tags:
      - Asset Administration Shell Basic Discovery API
      summary: Deletes specified specific asset identifiers linked to an Asset Administration
        Shell
      operationId: DeleteAllAssetLinksById
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteAllAssetLinksById/3/1
      parameters:
      - $ref: '#/components/parameters/EdcBpnHeader'
      - $ref: '#/components/parameters/aasIdentifier'
      responses:
        '204':
          description: Asset Links deleted successfully
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /submodel-descriptors:
    get:
      tags:
      - Submodel Registry API
      summary: Returns all Submodel Descriptors
      operationId: GetAllSubmodelDescriptors
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelDescriptors/3/1
      parameters:
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      responses:
        '200':
          description: Requested Submodel Descriptors
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/GetSubmodelDescriptorsResult
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    post:
      tags:
      - Submodel Registry API
      summary: Creates a new Submodel Descriptor, i.e. registers a submodel
      operationId: PostSubmodelDescriptor
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelDescriptor/3/1
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        required: true
      responses:
        '201':
          description: Submodel Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '409':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /submodel-descriptors/{submodelIdentifier}:
    parameters:
    - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/SubmodelIdentifier
    get:
      tags:
      - Submodel Registry API
      summary: Returns a specific Submodel Descriptor
      operationId: GetSubmodelDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelDescriptorById/3/1
      responses:
        '200':
          description: Requested Submodel Descriptor
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Submodel Registry API
      summary: Creates or updates an existing Submodel Descriptor
      operationId: PutSubmodelDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelDescriptorById/3/1
      requestBody:
        description: Submodel Descriptor object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        required: true
      responses:
        '201':
          description: Submodel Descriptor created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/SubmodelDescriptor
        '204':
          description: Submodel Descriptor updated successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    delete:
      tags:
      - Submodel Registry API
      summary: Deletes a Submodel Descriptor, i.e. de-registers a submodel
      operationId: DeleteSubmodelDescriptorById
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelDescriptorById/3/1
      responses:
        '204':
          description: Submodel Descriptor deleted successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
  /shells:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all Asset Administration Shells
      operationId: GetAllAssetAdministrationShells
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
      parameters:
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetIds
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/IdShort
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      responses:
        '200':
          description: Requested Asset Administration Shells
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/GetAssetAdministrationShellsResult
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates a new Asset Administration Shell
      operationId: PostAssetAdministrationShell
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostAssetAdministrationShell/3/1
      requestBody:
        description: Asset Administration Shell object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetAdministrationShell
        required: true
      responses:
        '201':
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetAdministrationShell
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '409':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/conflict
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shells/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns References to all Asset Administration Shells
      operationId: GetAllAssetAdministrationShells-Reference
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
      parameters:
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetIds
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/IdShort
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Limit
      - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/Cursor
      responses:
        '200':
          description: Requested Asset Administration Shells as a list of References
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/GetReferencesResult
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shells/{aasIdentifier}:
    parameters:
    - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetAdministrationShellIdentifier
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific Asset Administration Shell
      operationId: GetAssetAdministrationShellById
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
      responses:
        '200':
          description: Requested Asset Administration Shell
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetAdministrationShell
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates or updates an existing Asset Administration Shell
      operationId: PutAssetAdministrationShellById
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetAdministrationShellById/3/1
      requestBody:
        description: Asset Administration Shell object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetAdministrationShell
        required: true
      responses:
        '201':
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetAdministrationShell
        '204':
          description: Asset Administration Shell updated successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes an Asset Administration Shell
      operationId: DeleteAssetAdministrationShellById
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteAssetAdministrationShellById/3/1
      responses:
        '204':
          description: Asset Administration Shell deleted successfully
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/Result
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          description: Default error handling for unmentioned status codes
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/schemas/Result
  /shells/{aasIdentifier}/$reference:
    parameters:
    - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetAdministrationShellIdentifier
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific Asset Administration Shell as a Reference
      operationId: GetAssetAdministrationShellById-Reference_AasRepository
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
      responses:
        '200':
          description: Requested Asset Administration Shell
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/Reference
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shells/{aasIdentifier}/asset-information:
    parameters:
    - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetAdministrationShellIdentifier
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Asset Information
      operationId: GetAssetInformation_AasRepository
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetInformation/3/1
      responses:
        '200':
          description: Requested Asset Information
          content:
            application/json:
              schema:
                $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetInformation
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the Asset Information
      operationId: PutAssetInformation_AasRepository
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetInformation/3/1
      requestBody:
        description: Asset Information object
        content:
          application/json:
            schema:
              $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/AssetInformation
        required: true
      responses:
        '204':
          description: Asset Information updated successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
  /shells/{aasIdentifier}/asset-information/thumbnail:
    parameters:
    - $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/parameters/AssetAdministrationShellIdentifier
    get:
      tags:
      - Asset Administration Shell Repository API
      operationId: GetThumbnail_AasRepository
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetThumbnail/3/1
      responses:
        '200':
          description: The thumbnail of the Asset Information.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/unauthorized
        '403':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/forbidden
        '404':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/not-found
        '500':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/internal-server-error
        default:
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/default
    put:
      tags:
      - Asset Administration Shell Repository API
      operationId: PutThumbnail_AasRepository
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutThumbnail/3/1
      requestBody:
        description: Thumbnail to upload
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileName:
                  type: string
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: application/octet-stream
        required: true
      responses:
        '204':
          description: Thumbnail updated successfully
        '400':
          $ref: https://api.swaggerhub.com/domains/Plattform_i40/Part2-API-Schemas/V3.1.1#/components/responses/bad-request
        '401':
[...]
