openapi: 3.0.3
info:
  contact:
    email: info@idtwin.org
    name: Industrial Digital Twin Association (IDTA)
  description: "The Full Profile of the Asset Administration Shell Repository Service\
    \ Specification as part of the [Specification of the Asset Administration Shell:\
    \ Part 2](https://industrialdigitaltwin.org/en/content-hub/aasspecifications).\
    \  \nCopyright: Industrial Digital Twin Association (IDTA) 2025"
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  title: DotAAS Part 2 | HTTP/REST | Asset Administration Shell Repository Service
    Specification
  version: V3.1.1_SSP-001
  x-profile-identifier: https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-001
servers:
- url: https://admin-shell.io/api/v3/
- url: https://example.com/
paths:
  /shells:
    get:
      operationId: GetAllAssetAdministrationShells
      parameters:
      - description: "A list of specific Asset identifiers. Each Asset identifier\
          \ is a base64-url-encoded [SpecificAssetId](https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/SpecificAssetId)"
        explode: true
        in: query
        name: assetIds
        required: false
        schema:
          example: ?assetIds=eyAibmFtZSI6ICJzb21lLWFzc2V0LWlkIiwgInZhbHVlIjogImh0dHA6Ly9leGFtcGxlLWNvbXBhbnkuY29tL215QXNzZXQiLCAiZXh0ZXJuYWxTdWJqZWN0SWQiOiB7ICJrZXlzIjogWyB7ICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIsICJ2YWx1ZSI6ICJodHRwOi8vZXhhbXBsZS1jb21wYW55LmNvbS9leGFtcGxlLWNvbXBhbnlzLWFzc2V0LWtleXMiIH0gXSwgInR5cGUiOiAiR2xvYmFsUmVmZXJlbmNlIiB9IH0&assetIds=eyAibmFtZSI6ICJzb21lLW90aGVyLWFzc2V0LWlkIiwgInZhbHVlIjogIjEyMzQ1QUJDIiwgImV4dGVybmFsU3ViamVjdElkIjogeyAia2V5cyI6IFsgeyAidHlwZSI6ICJHbG9iYWxSZWZlcmVuY2UiLCAidmFsdWUiOiAiaHR0cDovL215LW93bi1jb21wYW55LmNvbS9rZXlzIiB9IF0sICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIgfSB9
          items:
            type: string
          type: array
        style: form
      - description: The Asset Administration Shell’s IdShort
        explode: true
        in: query
        name: idShort
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAssetAdministrationShellsResult'
          description: Requested Asset Administration Shells
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all Asset Administration Shells
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
    post:
      operationId: PostAssetAdministrationShell
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetAdministrationShell'
        description: Asset Administration Shell object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAdministrationShell'
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Conflict, a resource which shall be created exists already.\
            \ Might be thrown if an object with the same id (for Identifiables) or\
            \ idShort (for Referables within the same Container Element or Submodel)\
            \ is contained in a POST request."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates a new Asset Administration Shell
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostAssetAdministrationShell/3/1
  /shells/$reference:
    get:
      operationId: GetAllAssetAdministrationShells-Reference
      parameters:
      - description: "A list of specific Asset identifiers. Each Asset identifier\
          \ is a base64-url-encoded [SpecificAssetId](https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/SpecificAssetId)"
        explode: true
        in: query
        name: assetIds
        required: false
        schema:
          example: ?assetIds=eyAibmFtZSI6ICJzb21lLWFzc2V0LWlkIiwgInZhbHVlIjogImh0dHA6Ly9leGFtcGxlLWNvbXBhbnkuY29tL215QXNzZXQiLCAiZXh0ZXJuYWxTdWJqZWN0SWQiOiB7ICJrZXlzIjogWyB7ICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIsICJ2YWx1ZSI6ICJodHRwOi8vZXhhbXBsZS1jb21wYW55LmNvbS9leGFtcGxlLWNvbXBhbnlzLWFzc2V0LWtleXMiIH0gXSwgInR5cGUiOiAiR2xvYmFsUmVmZXJlbmNlIiB9IH0&assetIds=eyAibmFtZSI6ICJzb21lLW90aGVyLWFzc2V0LWlkIiwgInZhbHVlIjogIjEyMzQ1QUJDIiwgImV4dGVybmFsU3ViamVjdElkIjogeyAia2V5cyI6IFsgeyAidHlwZSI6ICJHbG9iYWxSZWZlcmVuY2UiLCAidmFsdWUiOiAiaHR0cDovL215LW93bi1jb21wYW55LmNvbS9rZXlzIiB9IF0sICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIgfSB9
          items:
            type: string
          type: array
        style: form
      - description: The Asset Administration Shell’s IdShort
        explode: true
        in: query
        name: idShort
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReferencesResult'
          description: Requested Asset Administration Shells as a list of References
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns References to all Asset Administration Shells
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
  /shells/{aasIdentifier}:
    delete:
      operationId: DeleteAssetAdministrationShellById
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Asset Administration Shell deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Deletes an Asset Administration Shell
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteAssetAdministrationShellById/3/1
    get:
      operationId: GetAssetAdministrationShellById
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAdministrationShell'
          description: Requested Asset Administration Shell
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns a specific Asset Administration Shell
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
    put:
      operationId: PutAssetAdministrationShellById
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetAdministrationShell'
        description: Asset Administration Shell object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAdministrationShell'
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Asset Administration Shell updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates or updates an existing Asset Administration Shell
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetAdministrationShellById/3/1
  /shells/{aasIdentifier}/$reference:
    get:
      operationId: GetAssetAdministrationShellById-Reference_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
          description: Requested Asset Administration Shell
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns a specific Asset Administration Shell as a Reference
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
  /shells/{aasIdentifier}/asset-information:
    get:
      operationId: GetAssetInformation_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetInformation'
          description: Requested Asset Information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the Asset Information
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetInformation/3/1
    put:
      operationId: PutAssetInformation_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetInformation'
        description: Asset Information object
        required: true
      responses:
        "204":
          description: Asset Information updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Updates the Asset Information
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetInformation/3/1
  /shells/{aasIdentifier}/asset-information/thumbnail:
    delete:
      operationId: DeleteThumbnail_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: "Thumbnail deletion successful.  Deprecated: Use response code\
            \ 204 instead."
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAdministrationShell'
          description: "No Content, request was successful but no content is returned"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteThumbnail/3/1
    get:
      operationId: GetThumbnail_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The thumbnail of the Asset Information.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetThumbnail/3/1
    put:
      operationId: PutThumbnail_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                contentType: application/octet-stream
                style: form
            schema:
              $ref: '#/components/schemas/assetinformation_thumbnail_body'
        description: Thumbnail to upload
        required: true
      responses:
        "204":
          description: Thumbnail updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutThumbnail/3/1
  /shells/{aasIdentifier}/submodel-refs:
    get:
      operationId: GetAllSubmodelReferences_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReferencesResult'
          description: Requested submodel references
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel references
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelReferences/3/1
    post:
      operationId: PostSubmodelReference_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reference'
        description: Reference to the Submodel
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
          description: Submodel reference created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Conflict, a resource which shall be created exists already.\
            \ Might be thrown if an object with the same id (for Identifiables) or\
            \ idShort (for Referables within the same Container Element or Submodel)\
            \ is contained in a POST request."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates a submodel reference at the Asset Administration Shell
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelReference/3/1
  /shells/{aasIdentifier}/submodel-refs/{submodelIdentifier}:
    delete:
      operationId: DeleteSubmodelReference_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Submodel reference deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Deletes the submodel reference from the Asset Administration Shell.
        Does not delete the submodel itself!
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelReference/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}:
    delete:
      operationId: DeleteSubmodelById_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Submodel deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Deletes the submodel from the Asset Administration Shell and the Repository.
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelById/3/1
    get:
      operationId: GetSubmodelById_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      - description: Determines to which extent the resource is being serialized
        explode: true
        in: query
        name: extent
        required: false
        schema:
          default: withoutBlobValue
          enum:
          - withBlobValue
          - withoutBlobValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submodel'
          description: Requested Submodel
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the Submodel
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    patch:
      operationId: PatchSubmodel_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: core
          enum:
          - core
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submodel'
        description: Submodel object
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Updates the Submodel
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
    put:
      operationId: PutSubmodelById_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submodel'
        description: Submodel object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
          description: Submodel reference created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Submodel updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates or updates the Submodel
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelById/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$metadata:
    get:
      operationId: GetSubmodelById-Metadata_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelMetadata'
          description: Requested Submodel
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the Submodel's metadata elements
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    patch:
      operationId: PatchSubmodelById-Metadata_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelMetadata'
        description: Submodel object
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Updates the metadata attributes of the Submodel
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$value:
    get:
      operationId: GetSubmodelById-ValueOnly_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      - description: Determines to which extent the resource is being serialized
        explode: true
        in: query
        name: extent
        required: false
        schema:
          default: withoutBlobValue
          enum:
          - withBlobValue
          - withoutBlobValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelValue'
          description: Requested Submodel
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the Submodel's ValueOnly representation
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    patch:
      operationId: PatchSubmodelById-ValueOnly_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: core
          enum:
          - core
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelValue'
        description: Submodel object in the ValueOnly representation
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Updates the values of the Submodel
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$reference:
    get:
      operationId: GetSubmodelById-Reference_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
          description: Requested Submodel as a Reference
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the Submodel as a Reference
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$path:
    get:
      operationId: GetSubmodelById-Path_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PathItem'
                type: array
          description: Requested Submodel in Path notation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the elements of this submodel in path notation.
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements:
    get:
      operationId: GetAllSubmodelElements_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      - description: Determines to which extent the resource is being serialized
        explode: true
        in: query
        name: extent
        required: false
        schema:
          default: withoutBlobValue
          enum:
          - withBlobValue
          - withoutBlobValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubmodelElementsResult'
          description: List of found submodel elements
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel elements including their hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
    post:
      operationId: PostSubmodelElement_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelElement'
        description: Requested submodel element
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelElement'
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Conflict, a resource which shall be created exists already.\
            \ Might be thrown if an object with the same id (for Identifiables) or\
            \ idShort (for Referables within the same Container Element or Submodel)\
            \ is contained in a POST request."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates a new submodel element
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelElement/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$metadata:
    get:
      operationId: GetAllSubmodelElements-Metadata_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubmodelElementsMetadataResult'
          description: List of found submodel elements
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel elements including their hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$value:
    get:
      operationId: GetAllSubmodelElements-ValueOnly_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubmodelElementsValueResult'
          description: List of found submodel elements in their ValueOnly representation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel elements including their hierarchy in the ValueOnly
        representation
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$reference:
    get:
      operationId: GetAllSubmodelElements-Reference_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: core
          enum:
          - core
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReferencesResult'
          description: List of References of the found submodel elements
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel elements as a list of References
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$path:
    get:
      operationId: GetAllSubmodelElements-Path_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of elements in the response array
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: A server-generated identifier retrieved from pagingMetadata that
          specifies from which position the result listing should continue
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      - description: Determines to which extent the resource is being serialized
        explode: true
        in: query
        name: extent
        required: false
        schema:
          default: withoutBlobValue
          enum:
          - withBlobValue
          - withoutBlobValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPathItemsResult'
          description: List of found submodel elements in the Path notation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns all submodel elements including their hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}:
    delete:
      operationId: DeleteSubmodelElementByPath_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Submodel element deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Deletes a submodel element at a specified path within the submodel
        elements hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelElementByPath/3/1
    get:
      operationId: GetSubmodelElementByPath_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      - description: Determines to which extent the resource is being serialized
        explode: true
        in: query
        name: extent
        required: false
        schema:
          default: withoutBlobValue
          enum:
          - withBlobValue
          - withoutBlobValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelElement'
          description: Requested submodel element
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns a specific submodel element from the Submodel at a specified
        path
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
    patch:
      operationId: PatchSubmodelElementValueByPath_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      - description: Determines the structural depth of the respective resource content
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: deep
          enum:
          - deep
          - core
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelElement'
        description: The updated value of the submodel element
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Updates an existing submodel element value at a specified path within
        submodel elements hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodelElementByPath/3/1
    post:
      operationId: PostSubmodelElementByPath_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelElement'
        description: Requested submodel element
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelElement'
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Conflict, a resource which shall be created exists already.\
            \ Might be thrown if an object with the same id (for Identifiables) or\
            \ idShort (for Referables within the same Container Element or Submodel)\
            \ is contained in a POST request."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates a new submodel element at a specified path within submodel
        elements hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelElementByPath/3/1
    put:
      operationId: PutSubmodelElementByPath_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelElement'
        description: Requested submodel element
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelElement'
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: Submodel element updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Creates or updates an existing submodel element at a specified path
        within submodel elements hierarchy
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$metadata:
    get:
      operationId: GetSubmodelElementByPath-Metadata_AasRepository
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmodelElementMetadata'
          description: Requested submodel element
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Unauthorized, e.g. the server refused the authorization attempt."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: Default error handling for unmentioned status codes
      summary: Returns the metadata attributes if a specific submodel element from
        the Submodel at a specified path
      tags:
      - Asset Administration Shell Repository API
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
    patch:
      operationId: PatchSubmodelElementValueByPath-Metadata
      parameters:
      - description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: aasIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        explode: false
        in: path
        name: submodelIdentifier
        required: true
        schema:
          type: string
        style: simple
      - description: IdShort path to the submodel element (dot-separated)
        explode: false
        in: path
        name: idShortPath
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmodelElementMetadata'
        description: The updated metadata attributes of the submodel element
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: "Bad Request, e.g. the request parameters of the format of\
            \ the request body is wrong."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
[...]
