services:
  db:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: basyxTestDB
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "listen_addresses=*"]
    
  adminer:
    image: adminer:5
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db