name: Go Application Tests

on:
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go-tests.yml'
  push:
    branches: [main]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go-tests.yml'

jobs:
  # unit-tests:
  #   name: Run Unit Tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out code
  #       uses: actions/checkout@v6
  #     - name: Set up Go
  #       uses: actions/setup-go@v6
  #       with:
  #         go-version: '1.25'
  #     - name: Get dependencies
  #       run: go mod download
  #     - name: Run unit tests
  #       run: go test ./... -v -tags=unit

  discovery-service-security-tests:
    name: Discovery Service Security Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run discovery service security tests
        run: |
          cd internal/discoveryservice/security_tests
          go test -v

  submodel-repository-integration-tests:
    name: Submodel Repository Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run submodel repository integration tests
        run: |
          cd internal/submodelrepository/integration_tests
          go test -v .

  discovery-service-integration-tests:
    name: Discovery Service Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run discovery service integration tests
        run: |
          cd internal/discoveryservice/integration_tests
          go test -v

  aas-registry-integration-tests:
    name: AAS Registry Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry integration tests
        run: |
          cd internal/aasregistry/integration_tests
          go test -v

  aas-registry-security-tests:
    name: AAS Registry Security Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry security tests
        run: |
          cd internal/aasregistry/security_tests
          go test -v

  aas-registry-security-operator-tests:
    name: AAS Registry Security Operator Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry security operator tests
        run: |
          cd internal/aasregistry/security_operator_tests
          go test -v
          
  aas-registry-security-filter-tests:
    name: AAS Registry Security Filter Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry security filter tests
        run: |
          cd internal/aasregistry/security_filter_tests
          go test -v

  aas-registry-security-index-tests:
    name: AAS Registry Security Index Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry security index tests
        run: |
          cd internal/aasregistry/security_index_tests
          go test -v

  aas-registry-security-match-tests:
    name: AAS Registry Security Match Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Get dependencies
        run: go mod download

      - name: Run aas registry security match tests
        run: |
          cd internal/aasregistry/security_match_tests
          go test -v
